body h1 { 
  font-family:"Copperplate Gothic Light"; 
  font-size: 70px;
  text-decoration: underline;
}

body {
  background-color: burlywood;
  font-family: Arial;
}

body h3 {
  font-family: fantasy;
  font-size: 30px;
}

.column1 {
  float: left;
  text-align: center;
  width: 30%;
  background-color: honeydew;
  border: 5px solid darkred;
  margin: 15px 15px 15px 15px;
  padding-bottom: 50px;
}

.column2 {
  float: left;
  text-align: center;
  width: 30%;
  background-color: honeydew;
  border: 5px solid darkred;
  margin: 15px 15px 15px 15px;
  padding-bottom: 4px;
}

.column3 {
  float: left;
  text-align: center;
  width: 30%;
  border: 5px solid darkred;
  background-color: honeydew;
  margin: 15px 15px 15px 15px;
  padding-bottom: 15px;
}

.column4 {
  float: left;
  text-align: center;
  width: 30%;
  background-color: honeydew;
  border: 5px solid darkred;
  margin: 15px 15px 15px 15px;
  padding-bottom: 17px;
}

.column5 {
  float: left;
  text-align: center;
  width: 30%;
  background-color: honeydew;
  border: 5px solid darkred;
  margin: 15px 15px 15px 15px;
  padding-bottom: 17px;
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  body h1 {
    font-size: 50px;
  }
  body img {
    height: 70px;
    width: 100px;
  }   
  .p2 {
    padding-bottom: 10px;
  }
  .p4 {
    padding-bottom: 34px;
  }  
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: coral;
    
  } 
}